html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
}

body::-webkit-scrollbar { width: 0 !important } /* hide scroll bar -webkit- (Chrome, Safari, newer versions of Opera): */
body { overflow: -moz-scrollbars-none; } /* hide scroll bar -moz- (Firefox): */

body {
    --primary-color: #2e2e2e;
    --secondary-color: #f9d235;
    --tertiary-color: #CF7500;
    --quaternary-color: #DBDBDB;

    /* 
    --primary-color: #DBDBDB;
    --secondary-color: #f9d235;
    --tertiary-color: #CF7500;
    --quaternary-color: #2e2e2e;
    
    */
    --black: #000000;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px;
    background-color: #000000;
}

.navbar-toggler {
    display: none;
}

.icon-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
}

.name a {
    color: var(--secondary-color);
    font-size: 25px;
    text-decoration: none;
}

.nav-bar ul {
    padding: 10px;
    margin: 5px;
}

.nav-bar li {
    display: inline;
    padding: 10px;
}

.nav-bar li a {
    color: var(--quaternary-color);
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-bar li :hover {
    color: var(--secondary-color);
    /* text-decoration: underline; */
}

.navigation {
	display:inline-block;
	position:relative;
}

.navbtn {
	background: transparent;
	border: none;
	color: var(--quaternary-color);
	outline: none;
	transition: width 2s;
}

.dropbtn {
    background: transparent;
    color: var(--quaternary-color);
    font-size: 17px;
    padding: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.65, 0.03, 0.11, 0.99);
}

.dropbtn:hover {
    color: var(--secondary-color);
}

.navigation:hover .navbtn {
	color:#57d7ff;
	cursor:pointer;
}

.dropdown-content {
    padding-top: 5px;
	height: 0px;
	overflow: hidden;
	position: absolute;
	transition: all 0.8s 
	cubic-bezier(0.65, 0.03, 0.11, 0.99);
}

.navigation:hover .dropdown-content {
	height: 260px;
	display:block;
	opacity: 60%;
}

.dropdown-content a {
	display:block;
	background-color:black;
	color: white;
	text-decoration:none;
	padding:14px 40px;
	min-width:125px;
	transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-content a:hover {
	padding-left:30px;
    color: var(--secondary-color);
	background-color:rgb(0, 0, 0);
}

/*main*/

/* sliding effect  */
.under {
    position: sticky;
    top: 0;
}

.wrapper{
    height: 200vh;
}

.over {
    margin-top: -100vh;
    position: relative;
}

/* end of sliding effect */

.box {
    min-height: 100vh;
    padding: 0px 175px;
}

.dislplay-items {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.first {
    background-image: linear-gradient(#297797, #727272);
}

.second {
    background-color: white;
}

.container p {
    font-size: 1.3rem;
    margin: 0px;
    padding-top: 15px;
    font-weight: 600;
}

.bold {
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--quaternary-color);
    letter-spacing: -4px;
}

.container .bold span {
    font-size: 4.5rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.container span {
    font-size: 1.3rem;
    color: white;
    margin: 0px;
    font-weight: 700;
    overflow: hidden;
}

.container p span.cursor {
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.388);
    margin-left: 0.2rem;
    height: auto;
    width: 2px;
    animation: blink .8s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

.buttons {
    display: inline;
}

.button {
    border: var(--primary-color);
    border-radius: 50px;
    box-shadow: rgba(244, 142, 147, 0.04) 0 0 1px 0, rgba(130, 18, 61, 0.1) 0 3px 4px 0;
    height: 50px;
    line-height: 50px;
    margin-top: 2rem;
    outline: none;
    padding: 0 25px;
    text-decoration: none;
    will-change: transform;
}

.demo-btn {
    cursor: pointer;
    display: none;
    transition: all 200ms;
}

.demo-btn:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.05);
}
  
.demo-btn .second {
    background-color: #000000;
    color: #fff;
    margin-left: 0;
}

.inherited-styles-for-exported-element {
    color: #333;
    font-family: CerebriSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    font-size: 100%;
}
  
@media screen and (min-width: 1024px) {
    .demo-btn {
      display: inline-block;
    }
}
  
.button svg {
    margin-right: .5em;
}
  
.svg-inline--fa.fa-w-18 {
    width: 1.125em;
}
  
svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.image {
    height: 390px;
    border-radius: 20%;
}

/* skills */

.items::-webkit-scrollbar { width: 0 !important }
.items {
    max-width: 85%;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #8a8a8a25;
    margin: 10px;
    border-radius: 3%;
}

.carousel {
    display: -webkit-box;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}

.carousel ul {
    padding: 10px;
    margin: 5px;
}

.carousel li {
    padding: 10px;
    list-style: none;
}

.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
}
  
.img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
}
  
.img-container img {
      height: 250px;
      margin: -23px 0px 0px -28px;;
}
  
.inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
}

.carousel .item {
    scroll-snap-align: start;
}

.card {
    transition: 0.3s;
    width: 40%;
}
  
.list-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.align-items-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* social icons start */
.socials {
    position: relative;
}
.socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
}
.social-icons a {
    font-size: 1.5rem;
    display: inline-block;
    line-height: 38px;
    color: #00d9ff;
    background-color: #09011b;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-right: 17px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #0685da;
}

.social-icons a.github:hover {
    background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.instagram:hover {
    background-color: #ee00da;
}

/* social icons end */

/* footer style script */

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0px;
    padding: 20px 0px;

}

.foot {
    max-width: 70ch;
}

h3 {
    text-transform: uppercase;
}


.info a {
    text-decoration: none;
    color: #000000;
}

.info a:hover {
    color: var(--secondary-color);
}

.info {
    list-style-type: none;
    padding: 0px;
}

.info i {
    padding-right: 15px;
}



.bottom {
    display: flex;
    justify-content: center;
}

.bottom span {
    font-weight: 600;
    color: var(--secondary-color);
}

hr {
    width: 90%;
    background-color: #000000;
    outline: none;
}

.bottom .heart {
    color: red;
}

/* end of footer style script */

/* responsive to scale for smaller devices */
@media screen and (max-width: 768px) {
    header  {
        display: block !important;
        position:relative !important;
        padding: 0px 10px !important;
    }

    .icon-logo {
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
    }

    .display button {
        display: block !important;
        float: right !important;
    }

    .nav-bar ul{
        display: grid !important;
        text-align: left !important;
    }

    .navigation {
        display: none !important;
    }
    
    .box {
        display: block !important;
        padding: 0px 5% !important;
    }

    .bold {
        font-size: 4rem !important;
    }

    .container .bold span {
        font-size: 4rem !important;
    }

    .container p {
        font-size: 1.2rem !important;
    }

    .image {
        height: 30vh !important;
        padding: 5% !important;
    }

    .footer {
        display: block !important;
        padding: 0px 5% !important;
    }
}

/* end of responsive */